@media (min-width: 1020px) and (max-width: 2000px){
       /* --------nav------- */
       .nav_Item {
        width: 75%;
    }
    .nav_icons {
        width: 25%;
    }
    .shop_text_Icon {
        font-size:1rem;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        border-radius: 50%;
        border: 0.5px solid var(--green);
    }
}

@media (min-width: 850px) and (max-width: 1020px){
    /* --------nav------- */
    .nav_Item {
        width: 75%;
    }
    .nav_icons {
        width: 25%;
    }
    /* ----------shop category------- */
    #shop_Category {
        padding: 2rem 0.625rem;
    }
    .shop_text_inner{
        font-size: var(--paraheadingFont);
    }
    .shop_text_Icon {
        font-size: 1.25rem;
        width: 3.125rem;
        height:  3.125rem;
        line-height:  3.125rem;
    }
    .shop_item--spacing {
        transform: translateY(20%);
    }
    .shop_collection_contents {
    
        flex-wrap: wrap;
        justify-content: center;
    }
    .shop_collection_contents {
        flex-wrap: wrap;
        justify-content: center;
    }
    .shop_collection_img{
        width: 80%;
        padding: 1rem ;
    }
    .shop_collection_Items{
        width: 80%;
        padding-top: 2rem;
    }
     /* --------selling------- */
     .selling_innerItems {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .selling_inner_contents{
        width: 50%;
    }
    .selling_contents{
        flex-wrap: wrap;
    }
    .selling_Items{
        width: 100%;
        text-align: center;
    }
    .selling_Item_shop{
        justify-content: center;
        padding: 1rem 0 0 1rem   ;
    }
    .selling_Item_inner::after{
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        top: 14%;
        left: 39%;
    }
}
@media only screen and (max-width: 850px) {
   #navigation ,#hero ,#hero_item,#delivery, #rating, #testimonial, #shop,
   #newsletter, #community, #support, footer{
    padding: 0 0.625rem;
   }
    .nav_inner_item{
      display: none;
    }
    .bar {
        display: inline-block;
    }
    .nav_responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .nav_logo img {
        padding: 0;
    }
  
    .nav_inner_item-responsive{
        position: absolute;
        top: 50%;
        right: 5%;
        background: #fff;
        width: 50%;
        height: 90vh;
        background: var(--secondary);
    }
    .nav_Item{
        margin: 0 auto;
    }
    .nav_list {
        position: relative;
        padding: 2rem 0;
    }
    .nav_item_contents{
        display: block;
        text-align: center;
        padding-bottom:1rem ;
    }
    .nav_icons {
        width: 30%;
        margin: 0 auto;
        text-align: center;
        grid-gap: 2rem;
        display: grid;
    }

    /* -----------hero---------- */
    #hero {
        padding: 100px 10px;
         
      }
    .hero_content{
        width: 100%;
        text-align: center;
    }
    .hero_Item , .hero_img {
         width: 100%;
    }
    .hero_item_subPara {
        margin: 0 auto;
    }
    .hero_itemButtons {
        justify-content: center;
    }
    .hero_content {
        display: block;
    }
    .shop_content  {
        justify-content: center;
        gap: 1rem;
    }

    /*------ shop_Category----- */
    #shop_Category {
        padding: 2rem 0.625rem;
        overflow: hidden;
    }
    .shop_item {
        width: 40%;
    }
    .shop_text_inner{
        font-size: var(--paraheadingFont);
    }
    .shop_text_Icon {
        font-size: 1.25rem;
        width: 3.125rem;
        height:  3.125rem;
        line-height:  3.125rem;
    }
    .shop_item--spacing {
        transform: translateY(30%);
    }

    /*---------shop_collection---------  */
    #shop_collection {
        padding: 2rem 0;
        margin-top: 1rem ;
    
    }
    .shop_collection_contents {
        flex-wrap: wrap;
        justify-content: center;
    }
    .shop_collection_img{
        width: 80%;
        padding: 10px;
    }
    .shop_collection_Items{
        width: 80%;
        padding-top: 2rem;
    }
    /* --------selling------- */
    .selling_innerItems {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .selling_inner_contents{
        width: 50%;
    }
    .selling_contents{
        flex-wrap: wrap;
    }
    .selling_Items{
        width: 100%;
        text-align: center;
    }
    .selling_Item_shop{
        justify-content: center;
        padding: 1rem 0 0 1rem   ;
    }
    .selling_Item_inner::after{
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        top: 14%;
        left: 39%;
    }
}

@media (min-width: 200px) and (max-width: 600px){

    #navigation {
        overflow: hidden;
    }
    .hero_itemButtons_inner{
        width: 50%;
    }
    .hero_img {
        width: 100%;
    }
    .hero_content {
        display: block;
        padding: 0 10px;
    }
    /*------ shop_Category----- */
    #shop_Category {
        padding: 2rem 0.625rem;
        overflow: hidden !important;
    }
    .shop_content  {
        justify-content: center;
    }
    .shop_item {
        width: 80%;
        padding: 20px 0;
    }
    .shop_text_inner{
        font-size: var(--paraheadingFont);
    }
    .shop_text_Icon {
        font-size: 1.25rem;
        width: 3.125rem;
        height:  3.125rem;
        line-height:  3.125rem;
    }
    .shop_item--spacing {
        transform: translateY(0);
    }
    .shop_collection_contents {

        flex-wrap: wrap;
        justify-content: center;
    }
    .shop_collection_img{
        width: 100%;
        padding: 10px;
    }
    .shop_collection_Items{
        width: 100%;
    }
    /* ----selling------ */
    .selling_innerItems {
        width: 100%;
        justify-content: center;
        /* overflow-x: scroll; */
        flex-wrap: wrap;
        
    }
    .selling_inner_contents{
        width: 80%;
       
    }
    .selling_contents{
        flex-wrap: wrap;
    }
    .selling_Items{
        width: 100%;
        text-align: center;
    }
    .selling_Item_shop{
        justify-content: center;
        padding: 1rem 0 0 1rem   ;
    }
    .selling_Item_inner::after{
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        top: 14%;
        left: 33%;
    }
} 