*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img{
    vertical-align: middle;
}
.container {
    max-width: 90rem;
    margin: 0 auto;
}
.subHeader {
    color: var(--green);
    font-size: var(--subheadingFont);
    font-weight: var(--medium);
    font-family: var(--primaryFamily);
    text-transform: capitalize;
}
:root{
    --green: #88AB8E;
    --black: #222;
    --primary: #AFC8AD;
    --secondary: #F2F1EB;
    --light: #EEE7DA;
    --white : #fff;
    --lowerParagraphFont: clamp(12px, 1vw, 16px);
    --paragraphFont: clamp(14px, 1vw, 16px);
    --paraFont: clamp(16px, 1vw, 18px);
    --paraheadingFont: clamp(18px, 1vw, 20px);
    --subheadingFont: clamp(32px, 1vw, 20px);
    --headingFont: clamp(50px, 1vw, 48px);
    --normal: 400;
    --medium: 500;
    --semibold:600;
    --bold:700;
    --container: clamp(1240px, 1vw, 2000px);
    --primaryFamily:  "Libre Baskerville", serif;
    --secondaryFamily:  "Poppins", sans-serif;

}


/* --------------------default styles------------------- */
/* --------------------navigation starts----------------- */
#navigation{
    background: var(--white);
    position: fixed;
    width: 100%;
    z-index: 9999999;
    padding: 10px;
}
.nav_contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    width: 10%;
}
.nav_inner_item {
    width: 90%;
    display: flex;
    align-items: baseline;
}
.nav_Item{
    width: 85%;
}
.nav_icons{
    width: 15%;
    text-align: end;
}

.nav_logo img {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.nav_item_contents {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.bar{
    display: none;
}

.nav_menu{
    color: #222;
    font-size: var(--paragraphFont);
    font-weight: var(--normal);
    font-family: var(--primaryFamily);
}

.nav_list:hover .nav_menu {
    color:var(--green);
} 

.nav_list {
    position: relative;
    padding: 10px 0;
}
.nav_list::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background: var(--green);
}

.nav_list:hover.nav_list::after, .nav_menu:hover.nav_list::after {
    width: 100%;
    transition: 0.5s;
}
.nav_main{
    background: var(--green);
    animation: navbar 2s;
    transition: 0.5s;
 }
 @keyframes navbar{
     from{
         top: -50px;
     }
     to{
         top: 0;
     }
 }
 .nav_icons i{
    color: var(--black);
    font-size: var(--paraheadingFont);
    padding: 0 10px;
 }
 .nav_icons i:hover {
    color: var(--green);
    transition: 0.1s;
 } 

/* --------------------navigation ends------------------- */
/* --------------------hero starts----------------------- */
#hero {
    padding: 200px 0;
    background: var(--light);
}
.hero_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: hero_Anim 0.8s alternate-reverse ; 
    padding: 0 10px;
} 
@keyframes  hero_Anim  {
    from {
        opacity: 1;
        transform: translatey(0px);
    }
    to{
        opacity: 0.9;
        transform: translatey(-10%);

    }
}
.hero_Item {
    width: 50%;
    position: relative;
    z-index: 99;
}
.hero_item_subHeading {
    color: var(--black);
    font-size: var(--headingFont);
    font-weight: var(--bold);
    font-family: var(--primaryFamily);
    line-height: 70px;
    animation: hero_Anim 1.5s alternate-reverse ;
}
.hero_item_subHeading span {
    font-weight: var(--normal);
    color: var(--green);
    font-style: italic;
}

.hero_item_subPara{
    color: var(--black);
    font-size: var(--paraFont);
    font-weight: var(--normal);
    font-family: var(--primaryFamily);
    width: 70%;
    padding: 20px 0;
    animation: hero_Anim 1s alternate-reverse ;

}
.hero_itemButtons {
    display: flex;
    gap: 2rem;
    animation: hero_Anim 1.2s alternate-reverse ;
}
.hero_itemButtons_inner{
    width: 20%;
    border: 1px solid var(--green);
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
}
.hero_itemButtons_inner button {
    color: var(--black);
    font-size: var(--paragraphFont);
    font-weight: var(--semibold);
    font-family: var(--primaryFamily);
    border: none;
    background: none;
    color: var(--black);
    text-transform: capitalize;
    padding: 9px 0;
    transition: 0.2s;
}
.hero_itemButtons_inner:hover{
    background: var(--green);
    transition: 1s;
}
.hero_itemButtons_inner:hover.hero_itemButtons_inner button{
    color: var(--white);
}
.leafs{
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: -20%;
    right: 20% ;
    z-index: -1;
    animation: hero_AnimLeafs 1.2s alternate-reverse infinite;

}
.leafs img{
    width: 100%;
    height: 100%;
}
@keyframes hero_AnimLeafs {
    from {
        transform: rotate(0deg) translateY(0);
    }
    to{
        transform: rotate(-10deg) translateY(-10%);

    }
}
.hero_img {
    width: 50%;
}
.hero__mainImg {
    text-align: center;
    animation: hero_AnimImg 1.2s alternate-reverse ;
}
.hero__mainImg model-viewer{
    width: 100%;
    height: 25rem;
}
@keyframes hero_AnimImg{
    from {
        transform: translatex(0) rotate(0deg);
    }
    to{
        transform: translatex(-20%) rotate(2deg);

    }
}

/* --------------------hero ends------------------------- */
/* --------------------shop_Category starts-------------- */
#shop_Category {
    padding: 2rem 0.625rem;
}
.subHeader--align {
    text-align: center;
    padding: 3.125rem 0;
}
.shop_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop_item {
    width: 30%;
    position: relative;
    cursor: pointer;
}
.shop_item--spacing {
    transform: translateY(20%);
}
.shop_img{
    width: 100%;
    height: 25rem;
    transition: 1s;
}
.shop_img:hover{
    animation: shop_imgAnim 1s ease-in-out  ;
} 
@keyframes shop_imgAnim {
        16.65% {
            transform: translateX(8px);
        }

        33.3% {
            transform: translateX(-6px);
        }
        49.95% {
            transform: translateX(4px);
        }
        66.6% {
            transform: translateX(-2px);
        }
        83.25% {
            transform: translateX(1px);
        }
        100% {
            transform: translateX(0);
        }
}
.shop_img img{ 
    width: 100%;
    height: 100%;
}
.shop_texts {
    display: flex;
    align-items: center;
    gap: 4rem;
    bottom: 0;
    padding: 20px;
    position: absolute;
}

.shop_text_inner{
    color: var(--black);
    font-size: var(--subheadingFont);
    font-weight: var(--normal);
    font-family: var(--primaryFamily);
}
.shop_text_Icon {
    font-size:3.125rem;
    color: var(--green);
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    border-radius: 50%;
    border: 0.5px solid var(--green);
}
/* --------------------shop_Category ends---------------- */
/* --------------------delivery starts------------------- */
#delivery {
    padding: 6rem 0;
}
/* --------------------delivery ends--------------------- */
/* --------------------rating starts--------------------- */
/* --------------------rating ends----------------------- */
/* --------------------testimonial starts---------------- */
/* --------------------testimonial ends------------------ */
/* --------------------shop starts----------------------- */
/* --------------------shop ends------------------------- */
/* --------------------newsletter starts----------------- */
/* --------------------newsletter ends------------------- */
/* --------------------community starts------------------ */
/* --------------------community ends-------------------- */
/* --------------------supports starts------------------- */
/* --------------------supports ends--------------------- */
/* --------------------footer starts--------------------- */
/* --------------------footer ends----------------------- */
/*--------------------- scroll to top starts-------------------- */
.top {
    position: fixed;
    border-radius: 50%;
    bottom: 0%;
    right: 2%;
    z-index: 9999;
    transition: 1s;
    animation: topto 2s ease-in-out infinite alternate-reverse both;
    z-index: 999999999999999999999999999999999;
    background: var(--green);
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.top i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #000; */
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
@keyframes topto {
    from {
        bottom: 12%;
    }
    to{
        bottom: 8%;
    }
}
/*--------------------- scroll to top ends-------------------- */

